<nav>
    <div class="container">
        <ul class="main-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/coming-soon">Blockchain</a></li>
            <li><a href="/coming-soon">Validators</a></li>
            <li><a href="/coming-soon">Tokens</a></li>
            <li><a href="/coming-soon">NFTs</a></li>
            <li><a href="/coming-soon">Resources</a></li>
            <li><a href="/coming-soon">Developers</a></li>
            <% if (typeof username !== 'undefined' && username) { %>
                <li><a href="/coming-soon"><%= username %></a></li>
                <li><a href="/coming-soon">Logout</a></li>
            <% } else { %>
                <li><a href="/coming-soon">Sign In</a></li>
            <% } %>
        </ul>
    </div>
</nav>
